$colorPrincipal: black;
$darkModePrincipal: rgb(50, 50, 50);

$bgCardUno: #F0EEED;
$bgCardDue: #F0EEED;
$bgCardTre: rgb(249, 249, 249);
$bgCardQuattro: #F2F0F0;
$bgCardCinque: #F0EEED;
$bgCardSei: #F5F5F5;

